.admin-unit-header:hover {
  background-color: #e7f1ff;
}

.aggregate-dark-text {
  color: black;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 25px;
  cursor: pointer;
}

.no-confirm-btn {
  margin-left: 1.5rem;
}

.dropdown-btn {
  display: inline-block;
  margin: 0.25rem;
}

.resend-text {
  cursor: pointer;
  margin-bottom: 1.5rem;
  color: #0d6efd;
}

.resend-text:hover {
  text-decoration: underline;
}

.warning-help-button {
  position: absolute;
  right: 0.25rem;
  top: 0.55rem;
}

.sticky-body-admin {
  max-height: 45dvh;
  overflow-y: auto;
}

.map-body-admin {
  height: 60dvh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.notification-glow {
  animation: notification-glow 1s infinite;
}

@keyframes notification-glow {
  0% {
    box-shadow: 0 0 5px green;
  }
  50% {
    box-shadow: 0 0 20px green;
  }
  100% {
    box-shadow: 0 0 5px green;
  }
}

.map-view-admin {
  height: 75dvh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.circular-progress-container {
  position: relative;
  display: inline-block;
  border-radius: 50%; /* Ensure the container is circular */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.circular-progress {
  transform: rotate(
    -180deg
  ); /* Rotate the entire SVG to start from 12 o'clock */
}

.circular-progress-background {
  opacity: 0.3;
  stroke: #e0e0e0; /* Light grey background for better contrast */
}

.circular-progress-highlight {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(0.25turn);
  transform-origin: center;
  stroke: #007bff; /* Blue color for the progress highlight */
  stroke-width: 4; /* Increase stroke width for better visibility */
}

.circular-progress-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px; /* Slightly larger font size */
  font-weight: bold; /* Bold text for better readability */
}

.circular-progress-assignments {
  animation: circular-glow 1.5s infinite alternate;
  opacity: 0.7; /* Reduce opacity for better readability of center text */
}

.circular-progress-personal {
  animation: circular-glow 1.5s infinite alternate;
  opacity: 0.5; /* Reduce opacity for better readability of center text */
}

@keyframes circular-glow {
  0% {
    stroke-width: 4;
    stroke-opacity: 0.5;
  }
  100% {
    stroke-width: 6;
    stroke-opacity: 1;
  }
}

.selected-marker {
  border: 2px solid orange;
  border-radius: 50%;
  box-shadow: 0 0 10px orange; /* Add a glow effect to the selected marker */
}

.mode-toggle-button {
  position: fixed;
  bottom: 30px;
  left: 25px; /* Changed from right to left */
  background-color: #adb5bd; /* Changed to a lighter color */
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px; /* Reduced size */
  height: 50px; /* Reduced size */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0.7;
  z-index: 1000;
}
